svg path {
	transition: fill;
}

body {
	margin: 0;
	background: #f7fbfd;
}

.map-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.map {
	max-width: 800px;
	margin: 48px auto;
	border-radius: 18px;
	box-shadow: 0 2px 16px 0 rgba(60, 120, 180, 0.10);
	width: 90vw;
	min-width: 320px;
	aspect-ratio: 16/9;
	display: flex;
	align-items: center;
	justify-content: center;
}

.map svg {
	width: 100%;
	height: auto;
	background: #d0f1ff;
	border-radius: 14px;
	box-shadow: 0 1px 6px 0 rgba(60, 120, 180, 0.07);
	display: block;
	max-height: 70vh;
}

@media (max-width: 600px) {
	.map {
		padding: 6px;
		border-radius: 10px;
	}

	.map svg {
		border-radius: 8px;
	}
}